* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.mode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.heading {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    margin: 5px 5px;
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}
.box:hover {
    background-color: rgb(255,255,255,0.1);
    transform: scale(1.2rem);
    height: 85px;
    width: 85px;
    transition: 0.2s;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.scoreboard {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 1rem;
    background-color: white;
    color: black;
    border: 2px solid white;
    cursor: pointer;
}
.score-text:hover {
    padding: 13px 26px;
    transition: 0.2s;
}
.winner-text {
    border-radius: 1rem;
    margin-right: 440px;
    font-size: 2rem;
    padding: 10px 10px;
    color: white;
}
.hide {
    display: none;
}
.top-bar {
    height: 90px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winner {
    margin-top: 40px;
    text-align: center;
}
#new-btn {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 700px;
}
#new-btn:hover {
    padding: 15px 27px;
    transition: 0.2s;
}
.mode-text {
    padding: 12px 24px;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
}
.mode-text:hover {
    padding: 15px 27px;
    transition: 0.2s;
}
.winner-text {
    margin-left: 450px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 1rem;
    background-color: rgb(255,255,255,0.5);
}
